* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

html {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #e3ded3;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

a {
    text-decoration: none;
    color: inherit;
}

#header {
    width: 100%;
    max-width: 1280px;
}

#app,
#footer {
    width: 100%;
    max-width: 1280px;
    padding: 0px 24px;
}

#app {
    padding: 32px 0px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.section__title {
    font-size: 32px;
    font-weight: bold;
}
